# Cybersource Sandbox Credentials Template
CS_MERCHANT_ID=your_merchant_id
CS_KEY_ID=your_rest_api_key_id
CS_SECRET_KEY=your_rest_api_secret_key
CS_WEBHOOK_KEY_ID=your_webhook_key_id
CS_WEBHOOK_KEY=your_webhook_shared_secret
PORT=8080

